*{
  box-sizing: border-box;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}
body{
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#myVideo {
  bottom: 0;
  height: 100%;
  right: 0;
  width: 100%;
}


/*block bouton*/
.top_button_and_text{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.top_button_and_text.active{
  transform: translateY(0);
  opacity: 1;
}
.section_button_container{
  background: url('../assets/img/bgbutton/Captureorange.PNG');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 850px;
  margin: 0;
}
.top_button_and_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35%;
  padding-top: 15%;
}
.top_button_and_text button{
  height: 100px;
  width: 400px;
  margin-top: 5%;
  background-color: transparent;
  border-color: white;
  font-size: 10;
  cursor: pointer;
}
.top_button_and_text h1{
  line-height: 70px;
}
.top_button_and_text h1,.top_button_and_text button{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.top_button_and_text button,.top_button_and_text button::after {
  background: linear-gradient(45deg, transparent 5%, rgba(0, 0, 0, 0.395) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px white;
  outline: transparent;
  position: relative;
  }
  
.top_button_and_text button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, white 3%, white 5%, black 5%);
  text-shadow: -3px -3px 0px black, 3px 3px 0px white;
  clip-path: var(--slice-0);
  }
  
  .top_button_and_text button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

.block_with_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%
}
.block_with_title img{
  margin-bottom: 100px;
  width: 100%;
}
.block_with_title_top {
  font-size: xx-large;
  transform: scale(1, 2);
  text-transform: uppercase;
}
.block_with_title_top span{
  color : rgb(252, 65, 65);
  margin: 0 30px;
  font-family: 'Rubik Dirt', cursive;
}
.block_with_title span, .block_with_title h1{
  font-family: 'Allerta Stencil', sans-serif;
}
.block_with_title_top_bottom {
  font-size: x-large;
  width : 70%;
  margin-top: 100px;
  word-spacing: 5px;
  line-height: 30px;
  text-align: center;
}

  /*carousel*/
.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.wrapper {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 78em;
}
.inner {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}
.card {
  border-radius: 0.5em;
  width: 25em;
}
.card img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  width: 20em;
  height: 15em;
  margin: auto;
}
.content {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1em;
  text-align: center;
 }
.content h1,h3 {
  margin: 0.35em 0;
  }
.map button {
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  user-select: none;
  border-color: rgba(0, 0, 0, 0.329);
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  
}
.map button:active{
  background-color:black;
}
.map button:after{
  background-color:black;
}

/*Media container*/

.media-container{
  display: flex;
  margin: auto;
  width: 80%;
  
}
.media-container-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.media-container-block img{
  cursor: pointer;
  height: 200px;
  margin-bottom: 3px;
  width: 300px;
  filter: brightness(1.25);
}

/*Formulaire*/
.form-container{
  margin-top: 100px;
}
form{
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-around;
}
#h1-form {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}
.form-container-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}
.form-container-right label{
  font-size: xx-large;
  text-transform: uppercase;
}
.form-container-right input{
  height: 30px;
  text-align: center;
}
.form-container-right textarea{
  height: 200px;
  resize: none;
}
.form-container-right select{
  height: 30px;
  text-align: center;
}
.form-container-right input, textarea, select{
  width: 100%;
  margin-bottom: 20px;
  font-size: large;
}
.form-container-right option, input, textarea, select{
  color: black;
}
.form-container-left {
  text-align: right;
  width: 40%;
}
.form-container-left h1, .form-container-left span{
  font-size: 120px;
}
.form-container-left h3{
  font-size: 40px;
}
.form-container-left p{
  font-size: 20px;
}
.form-container-left span{
  color: rgb(252, 65, 65);
}
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
/*footer*/


